/* 팝업 창 */
.container {
    width: 440px;
    height: 860px;
  }
  body.modal-open { /*  */
    overflow: hidden; 
  }
  
  /* 팝업 스크롤바 */
  .scrollable-content {
    max-height: 780px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px; 
  
    &::-webkit-scrollbar {
      width: 4px; 
    }
  
    &::-webkit-scrollbar-thumb {
      height: 10px;
      background-color: #ffdfdf; 
      border-radius: 5px; 
    }
  
    &::-webkit-scrollbar-track {
      background-color: #EFB4B4; 
      border-radius: 5px;
    }
  }
  
  /* 입력 리스트 공통 */
  .popuplist {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .popuplist label {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 4px;
  }
  
  /* 수정하기 버튼 */
  .modiBtn {
    margin-top: 200px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 48px;
    color: #787878;
    border: none;
    background-color: #ffdfdf;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    float: center;
    display: block;
  
    &:hover {
        background-color: #EFB4B4;
        color: #ffffff;
        border-style: none;
        font-style: bold;
        transition: all ease 0.5s;
    }
  }
  