/* 팝업 창 */
.container {
    width: 440px;
    height: 860px;
}
body.modal-open { 
    overflow: hidden; 
}

/* 팝업 스크롤바 */
.scrollable-content {
    max-height: 780px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px; 

    &::-webkit-scrollbar {
        width: 4px; 
    }

    &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: #ffdfdf; 
        border-radius: 5px; 
    }

    &::-webkit-scrollbar-track {
        background-color: #EFB4B4; 
        border-radius: 5px;
    }
}

.mypuppymrimg {
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

/* 입력 리스트 목록명 */
.listname {
    margin-left: auto;
    margin-right: auto;
    color: #a1a1a1;
    float: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* 입력 리스트 답변 */
.listanswer {
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    float: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

/* 공통 리스트 */
.popuplist .listname {
    margin-top: 36px;
    font-size: 15px; 
}
.popuplist .listanswer {
    margin-top: 10px;
    font-size: 18px; 
    font-weight: bold;
}

/* 수정하기 버튼 */
.modiBtnp {
    margin-top: 200px;
    margin-bottom: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 48px;
    color: #787878;
    border: none;
    background-color: #ffdfdf;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    float: center;
    display: block;

    &:hover {
        background-color: #EFB4B4;
        color: #ffffff;
        border-style: none;
        font-style: bold;
        transition: all ease 0.5s;
    }
}
