.App {
  font-family: sans-serif;
  text-align: center;
  display: flex; 
  min-height: 100vh; 
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100%;
}
body {
  min-height: 100vh;
  -ms-overflow-style: none;
}

.Footer {
  padding-top: 150px;


::-webkit-scrollbar {
  display: none;
  }

