
.diary-page-segment {
    width: 100%;
    display: flex;
}

.left {
    width:50%;
    float: left;
    position: relative;
}

.right {
    width: 50%;
    float: right;
    position: relative;

}

.vr-div {
    display: flex;
}

.vr-center {
    border-left: solid rgba(128, 128, 128, 0.2);
    height: 90%;
    margin: auto;
}

/* 오늘의 질문 & 한 줄 일기 공통 스타일  */

.input-sz {
    padding: 0 10px 0 10px;
    flex-basis: 90%;
}

.save {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    margin-top: -70px;
}

.submitBtn {
    margin-bottom: 10px;
    width: 150px;
    color: #2f3631;
    background-color: #ffe4e4;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: large;

    &:hover {
        color: #2f3631;
        transition: all ease 0.5s;
    }
}
