
.diary-page-segment {
    width: 100%;
    display: flex;
}

.left {
    width:50%;
    float: left;
    position: relative;
}

.right {
    width: 50%;
    float: right;
    position: relative;

}

.vr-div {
    display: flex;
}

.vr-center {
    border-left: solid rgba(128, 128, 128, 0.2);
    height: 90%;
    margin: auto;
}


/* -------------------------------------------------------------- */
/* diary_left.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.today-question {
    margin: 40px 70px;
    padding: 20px 60px;
}

.question {
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}

.question-text {
    padding: 0 10px 0 10px;
    font-size: 24px;
    text-align: left;    
}

.answer {
    display: flex;
    justify-content: center;
}

.QA {
    /* font-family: 'Nanum Gothic', sans-serif; */
    padding: 0 10px;
    justify-content: left;
}

.QA-font {
    font-size: 24px;
}


/* 오늘의 질문 & 한 줄 일기 공통 스타일  */

.input-sz {
    padding: 0 10px 0 10px;
    flex-basis: 90%;
}

.save {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    margin-top: -70px;
}

.submitBtn {
    margin-bottom: 10px;
    width: 150px;
    color: #2f3631;
    background-color: #ffe4e4;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: large;

    &:hover {
        color: #2f3631;
        transition: all ease 0.5s;
    }
}



/* -------------------------------------------------------------- */
/* diary_right.css */
.today-diary {
    margin: 40px 50px;
    padding: 20px 50px;
}

/* 기분, 공개 선택 부분 css */

.select-option {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0 0;
}

.mood-option {
    margin: 0 10px;
    height: 40px; /* lock-option도 동일한 높이로 */
    display: flex;
    line-height: 40px;
}

.mood-icon {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.clicked-mood-icon {
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    text-shadow: 2px 2px 2px gray; 
}

.lock-option {
    height: 40px;
    margin: 0 10px;
}

.lock-icon {
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
}


/* 일기 제목 내용 부분 css */

.diary-title {
    justify-content: center;
    padding: 5px 0;
}

.diary-content {
    /* display: flex; */
    justify-content: center;
    padding: 5px 0;
}

.title-content {
    padding: 5px 10px;
    display: flex;
    float: left;
}

.title-content-font {
    font-size: 18px;
}


/* 사진 첨부 부분 css */

.upload-div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.image-div {
    margin: 10px 10px;
    background-color: #efefef;
    width: 150px;
    height: 150px;
}

.add-icon {
    font-size: 48px;
    color: gray;
    line-height: 150px;
    cursor: pointer;
}


