/* diary_left.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.today-question {
    margin: 40px 70px;
    padding: 20px 60px;
}

.question {
    display: flex;
    justify-content: center;
    margin: 60px 0 40px 0;
}

.question-text {
    padding: 0 10px 0 10px;
    font-size: 24px;
    text-align: left;    
}

.answer {
    display: flex;
    justify-content: center;
}

.QA {
    /* font-family: 'Nanum Gothic', sans-serif; */
    padding: 0 10px;
    justify-content: left;
}

.QA-font {
    font-size: 24px;
}